/*Create style for login and register form */
.background-login {
	-fx-background-image: url("/images/background-login.png");
	-fx-background-size: cover ;
}
.form {
	-fx-background-color: linear-gradient(to bottom, #C3A797, #F2DCC6) ;
	-fx-background-radius: 20px;
	
}
.login-title {
	-fx-font-family: Garamond, serif;
	-fx-font-size: 45px;
	-fx-text-fill: #95623B;
	-fx-font-weight: bold;
	
}
.textfild {
	-fx-border-style: none ;
	-fx-border-radius: 20px;
	-fx-background-radius: 10px;
}
.hide-show-btn {
	-fx-background-radius: 10px;
	-fx-background-color: transparent;
}
.form-btn {
	-fx-background-radius: 30px;
	-fx-background-color: #FDFDFD;
	-fx-text-fill: #C3A797;
	-fx-font-weight: bold;
	-fx-font-family: Poppins;
	-fx-font-size: 18px;
}
.form-btn:hover {
	-fx-background-color: #333333;
	-fx-text-fill: white;
	-fx-scale-x: 1px;
	-fx-scale-y: 1px;
}
.link {
	-fx-border-color: transparent;
	-fx-underline: false;
	
}
.link:hover {
	-fx-underline: true ;
}
.main {
	-fx-background-color: #151A2C;
}
.sidebar {
	-fx-background-color: #1F263C;
}
.topbar {
	-fx-background-color: #1F263C;
	-fx-background-radius: 20px;
}
.main-brand {
	-fx-text-fill: #566485;
}
.main-tab {
	-fx-background-radius: 20px;
	-fx-background-color: #566485;
	-fx-text-fill: white;
	-fx-font-size: 21px;
}
.main-tab:hover {
	-fx-background-color: #7487B2;
}
.main-user {
	-fx-background-color: #566485;
	-fx-background-radius: 0 0 10px 10px;
}
.main-btn-logout {
	-fx-background-radius: 20px;
	-fx-background-color: white;
	-fx-border-color: blue;
	-fx-border-radius: 20px;
}
.product-adding {
	-fx-background-color: #323D62;
	-fx-background-radius: 5px;
}
.daskboard-card {
	-fx-background-color: #323D62;
	-fx-background-radius: 5px;
}
.daskboard-card:hover {
	-fx-background-color: #7487B2;
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}
.table-view {
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-border-color: #323D62;
	-fx-border-radius: 5px;
	-fx-border-width: 1.5px;
}
.table-view .column-header-background{
	-fx-background-color: #323D62;
	-fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter {
	-fx-background-color: transparent;
	-fx-size: 40px;
}
.table-view .column-header .label {
	-fx-text-fill: #fff;
	-fx-font-size: 15px;
}
.table-row-cell {
	-fx-font-size: 16px;
	-fx-background-color: #7488CD;	
	-fx-font-family: "Times New Roman";
}
.table-row-cell:hover {
	-fx-background-color: #94ADFF;
}
.table-view .table-cell {
	-fx-text-fill: white;
}
.product-adding-title {
	-fx-text-fill: white;
	-fx-font-size: 14px;
}
.product-update-btn {
	-fx-background-radius: 5px;
	-fx-background-color: linear-gradient(to right, #4761BD,#5C82FF) ;
	-fx-text-fill: white;
}
.product-delete-btn {
	-fx-background-color: linear-gradient(to right, #E60039, #FF3768);
}
.product_delete_btn:hover {
	-fx-background-color: linear-gradient(to right, #FF1F57, #FF6188);
}
.product-update-btn:hover {
	-fx-background-color: linear-gradient(to right, #4B64BE,#94ADFF);
}

.sroll-pane {
	-fx-background-color: transparent;
}
.scroll-pane > .viewport {
	-fx-background-color: transparent;
}
.chart-pie-label {
    -fx-fill: white;  /* Change this to your desired color */ 
}
.chart-bar-label {
	-fx-fill: white;
}
.axis-label {
	-fx-text-fill: white;
}
.chart-title {
	-fx-text-fill: white;
}
.char-bar .series {
	-fx-text-fill: white;
}